Checks: >
  bugprone-*,
  performance-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-vararg,

WarningsAsErrors: ""
HeaderFilterRegex: "^(src|include|examples)/"
FormatStyle: none
